/* .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
} */

.app-container {
    display: flex;
    justify-content: center;
}

.sidebar {
    width: 200px;
    position: flex;
    left: 0;
    top: 0;
    height: 100%;
    background-color: #f8f9fa; 
    border-right: 1px solid #dee2e6;

.main-content {
    margin-left: 200px; 
    padding: 20px;
    width: calc(100% - 200px);
}
}